<!DOCTYPE html>
<html>
<head>
  <title>Gametime Banter</title>
  <link rel="stylesheet/less" href="/style.less">
  <script src="/less.js"></script>
</head>
<body>
  <header>
    <div class="wrapper">
      <a href='<%= root_url %>'><img src="/gfx/roarlogo.png"></a>
      <span>Stocktwits Clone</span>
        <% if current_user %>
          <%= link_to "Public Roars", roars_path %>
          <%= link_to "Log out", sessions_destroy_path %>
          <%= link_to "Buddies' Ribbits", buddies_path %>
        <% else %>
          <%= form_tag sessions_create_path do %>
              <%= text_field_tag :username, nil, placeholder: "username" %>
              <%= password_field_tag :password, nil, placeholder: "password" %>
              <%= submit_tag "Log in" %>
          <% end %>
        <% end %>
    </div>
  </header>
  <div id="content">
    <div class="wrapper">
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash #{name}" %>

      <% end %>
      <%= yield %>
    </div>
  </div>
  <footer>
    <div class="wrapper">
      Gametime Roar! -- A Stocktwits Clone
      <a href="https://github.com/3B7/gametime">Source Code</a>
    </div>
  </footer>

</body>
</html>
